<div class="bg-white mx-31 p-15 rounded-lg shadow-xl">
  <div class="flex items-center justify-between">
    <div class="text-primary font-semibold text-sm">Doctor&apos;s Notes</div>
    <div class="flex items-center gap-1 bg-light px-2 py-1 rounded-md">
      <img src="../assets/images/avatar.png" alt="avatar">
      <div class="text-primary font-medium text-xs">Dr. John Doe</div>
    </div>
  </div>
  <p class="mt-2 text-xs font-medium text-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus in
    scelerisque
    tincidunt arcu,
    ipsum tempus,
    id. Et consectetur aliquam vel malesuada. Consequat dignissim suspendisse duis nunc suscipit ultricies. At sed
    laoreet.
  </p>
  <div class="text-[10px] flex items-center mt-2 gap-2">
    <a class="flex items-center gap-1 bg-primary text-white p-3 rounded-lg">
      <img src="../assets/images/calendar-light.png" alt="calendar">
      <span class="font-medium">Inperson Appointment</span>
      <img src="../assets/images/right-arrow-light.png" alt="right arrow">
    </a>
    <a class="flex items-center gap-1 bg-secondary text-primary p-3 rounded-lg">
      <img src="../assets/images/calendar-dark.png" alt="calendar">
      <span class="font-medium">Inperson Appointment</span>
      <img src="../assets/images/right-arrow-dark.png" alt="right arrow">
    </a>
  </div>
</div>