<main class="mx-auto w-app bg-white h-screen relative -z-20">
  <!-- Bg pattern -->
  <div class="absolute left-0 right-0 -z-10">
    <img src="../assets/images/header-pattern.png" alt="header pattern" width="414px" height="auto" class="w-full">
  </div>
  <!-- Statusbar -->
  <img src="../assets/images/statusbar.png" alt="statusbar" width="414px" height="auto" class="sticky" />

  <div class="flex items-center justify-between px-[31.74px]">
    <img src="../assets/images/left-arrow.png" alt="left arrow" width="28px" height="auto">
    <h1 class="font-medium text-[20px] text-text">Lab Results</h1>
    <img src="../assets/images/hamburger.png" alt="menu" width="28px" height="auto">
  </div>

</main>