<main class="mx-auto w-app bg-white h-screen relative -z-20">
  <!-- Bg pattern -->
  <div class="absolute left-0 right-0 -z-10">
    <img src="../assets/images/header-pattern.png" alt="header pattern" width="414px" height="auto" class="w-full">
  </div>
  <!-- Statusbar -->
  <img src="../assets/images/statusbar.png" alt="statusbar" width="414px" height="auto" class="sticky" />
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <div class="p-2"></div>
  <app-header></app-header>

  <div class="bg-light"></div>

</main>