<main class="mx-auto w-app bg-white h-screen relative -z-20">
  <!-- Bg pattern -->
  <div class="absolute left-0 right-0 -z-10">
    <img src="../assets/images/header-pattern.png" alt="header pattern" width="414px" height="auto" class="w-full">
  </div>
  <!-- Statusbar -->
  <img src="../assets/images/statusbar.png" alt="statusbar" width="414px" height="auto" class="sticky" />
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <div class="p-2"></div>
  <app-header></app-header>

  <div class="bg-light mx-31 p-15 mt-4 rounded-xl flex items-center gap-3">
    <img src="../assets/images/location.png" alt="location">
    <div class="flex flex-col text-primary">
      <h4 class="text-[16px] font-medium">Statecare Hicksville</h4>
      <p class="text-[12px]">Wednesday March 3rd, 2021</p>
      <p class="text-[12px]">Reason for visit : Covid testing</p>
    </div>
  </div>

</main>