@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TodaySansNow Pro';
  src: url(./assets/fonts/TodaySansNow-Pro-Regular.otf);
}

@font-face {
  font-family: 'TodaySansNow Pro';
  src: url(./assets/fonts/TodaySansNow-Pro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'TodaySansNow Pro';
  src: url(./assets/fonts/TodaySansNow-Pro-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'TodaySansNow Pro';
  src: url(./assets/fonts/TodaySansNow-Pro-Demi.otf);
  font-weight: 600;
}

body {
  @apply bg-neutral-400;
}