<div
  class="absolute bottom-0 left-0 right-0 z-10 h-[100px] bg-light rounded-xl p-3 flex justify-evenly items-center text-center text-lightgrey">
  <a routerLink="" class="flex flex-col items-center gap-1">
    <img src="../assets/images/home.png" alt="Home" class="h-9 w-9 object-contain object-center">
    <div>Home</div>
  </a>
  <a routerLink="" class="flex flex-col items-center gap-1">
    <img src="../assets/images/visits.png" alt="Visits" class="h-9 w-9 object-contain object-center">
    <div>Visits</div>
  </a>
  <a routerLink="" class="flex flex-col items-center gap-1">
    <img src="../assets/images/labs.png" alt="Labs" class="h-9 w-9 object-contain object-center">
    <div>Labs</div>
  </a>
  <a routerLink="" class="flex flex-col items-center gap-1">
    <img src="../assets/images/profile.png" alt="Profile" class="h-9 w-9 object-contain object-center">
    <div>Profile</div>
  </a>
</div>